@import '../../Common/css/common';

.toolbar-contanier {
    padding: 0;
    margin: 0;
    height: 60px;
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: $theme-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    color: #fff;
    padding: 10px;
    z-index: 100;

    justify-content: center;
    align-items: center;

    // box-shadow: 0 1px 3px #aaa;

    > .left {
        // flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-top: 2px;

        .left-button {
            width: 30px;
            height: 30px;
            background-color: transparent;
            border-radius: 3px;
            margin: 0 15px 0 10px;
            color: #fff;
            font-size: 35px;
            line-height: 30px;
        }

        .icon::before {
            margin-top: -5px;
        }

        .title {
            font-size: 18px;
            line-height: 30px;
            position: relative;
            top: -1px;
        }
    }

    > .right {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-top: 2px;

        .right-button {
            // width: 30px;
            height: 30px;
            background-color: transparent;
            border-radius: 3px;
            margin: 0 10px 0 15px;
            color: #fff;
            font-size: 35px;
            line-height: 30px;
            display: flex;
            justify-content: center;

            i {
                margin-left: 15px;
            }

            > span > span {
                font-size: 13px;
                position: relative;
                top: -10px;
                margin-left: 3px;
            }
        }
    }
}

