
.main-contanier {
    padding-top: 55px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-color: #fff;
    height: 100%;

    .list-contanier {
        background-color: #f1f1f1;

        padding-bottom: 20px;
    }


}

@media screen and (max-width : 800px) {
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
