html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    font-family: 'consolas', 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    background-color: #fff;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    color: #222;
    line-height: 1.7;
}

strong {
    color: #111;
}

blockquote {
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}

a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}
hr {
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: \201C\201D\2018\2019;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
    vertical-align: middle;
    color: transparent;
    font-size: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}
a {
    text-decoration: none;
}
blockquote {
    border-left: 3px solid #D0E5F2;
    font-style: normal;
    display: block;
    font-size: 100%;
    margin: .5em 0;
    padding: 0 0 0 1em;
    color: #888;
}
ul,
ol {
    padding-left: 20px;
}


.highlight {
    width: auto;
    overflow: auto;
    word-wrap: normal;
}
.highlight::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.highlight code {
    overflow: auto;
}
.highlight::-webkit-scrollbar-thumb:horizontal {
    border-radius: 6px;
    background-color: rgba(0,0,0,.5);
}
.highlight::-webkit-scrollbar-thumb:horizontal:hover {
     background-color: rgba(0,0,0,.6);
}
.highlight pre {
    margin: 0;
    white-space: pre;
}
.highlight .hll {
    background-color: #ffc;
}
.highlight .err {
     color: #a61717;
    background-color: #e3d2d2;
}
.highlight .cp {
        color: #999;
    font-weight: 700;
}
.highlight .cs {
    color: #999;
    font-weight: 700;
    font-style: italic;
}
.highlight .gd {
    color: #000;
    background-color: #fdd;
}
.highlight .gi {
    color: #000;
    background-color: #dfd;
}
.highlight .gu {
    color: #aaa;
}
.highlight .ni {
    color: purple;
}
.highlight .nt {
    color: navy;
}
.highlight .w {
    color: #bbb;
}
.highlight .sr {
    color: olive;
}
[hidden],
.button span {
    display: none;
}
b,
strong,
.highlight .k,
.highlight .o,
.highlight .gs,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .ow {
    font-weight: 700;
}
dfn,
.highlight .ge {
    font-style: italic;
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:vertical {
    height: 0;
    background-color: rgba(1, 1, 1, 0.18);
    border-radius: 0;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 0;
    background-color: rgba(1, 1, 1, 0.18);
    border-radius: 0;
}